---
title: Blog Template
---
<!DOCTYPE html>
<html lang="en">
<head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link rel="stylesheet" href="/files/css/base.css" />
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ cannonical }}">
{% if image %}
    <meta property="og:image" content="{{ image }}">
{% endif %}
    <meta property="og:description" content="{{ summary }}">
    <meta property="article:author" content="https://mstdn.social/@webbj">
    <meta property="article:published_time" content="{{ published }}">
    <meta property="article:section" content="Website Development">
{%- for tag in tags -%}
    <meta property="article:tag" content="{{ tag }}">
{%- endfor -%}

</head>
<body>
    <nav>
        <ul><li><a href="/">J. W. Webb</a></li><li><a href="/blog">Blog</a></li><li><a href="/profile/">Profile</a></li></ul>
    </nav>
    <header>
    <h1>{{ title }}</h1>
    <span class="byline">by J. W. Webb, on {{ published }}</span>
    </header>
    <main>
    {{ content | safe }}
    </main>
    <footer>
        <p>Connect with me <a href="https://mstdn.social/@webbj" ><img style="height: 16px;" src="/files/img/mastodon-logo-2024-02.svg" alt="On the fediverse @webbj@mstdn.social" /></a></p>

        <p><span xmlns:cc="http://creativecommons.org/ns#" >Unless otherwise stated, the content on this page is &copy; 2024 by J. W. Webb <span title="Your mercurial advisor">&#x263F;</span> and licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Creative Commons"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="CC BY 4.0 License"></a>.</span>
        <span>Sample code, software, and/or configuration examples are provided "as is", without warranty of any kind, express or implied.</span></p>
    </footer>
</body>
</html>
