---
title: My Rad Blog
---
<!DOCTYPE html>
<html lang="en">
<head prefix="og: https://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/files/css/base.css" />
</head>
<body>
    <nav>
        <ul><li><a href="/">J. W. Webb</a></li><li><a href="/blog">Blog</a></li><li><a href="/profile/">Profile</a></li></ul>
    </nav>
    <main>
    {{ content | safe }}
    </main>
</body>
</html>
