/* https://github.com/kognise/water.css/issues/182 */
nav {
  background: #efefef;
  padding: 6px;
  text-align: center;
  font-size: 1.15em;
}
nav > a {
  padding: 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
    align-right;
}
nav li {
      display: inline-block;
}

nav li:first-child {
   float:left 
}

nav li a {
        display: block;
        padding: 0 1rem;
        text-decoration: none;
}

.byline {
    color: #666;
    font-size: 0.9em;
}

@media (prefers-color-scheme: light) {
nav a {
  color: #04a;
}

a > code {
  color: #04a;
}
}
 
@media (prefers-color-scheme: dark) {
nav {
  background: #161f27;
  padding: 6px;
  text-align: center;
  font-size: 1.15em;
}
.byline {
    color: #999
}
}
